[href="tieudelon"] {
    color:#0dc3b6d2;  /*đây là phần backup khi trình duyệt không hỗ trợ*/
    font-size: 2rem;
    text-align: center;
}
/*kiểm tra trình duyệt có hỗ trợ background-clip: text hay không*/
@supports (background-clip: text) or (-webkit-background-clip: text) {
    [href="tieudelon"] {
        font-size: 3rem;
        text-align: center;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #ff0000 20%, #f6750c, #0eb40e, #00ffff, #0000ff, #ff00ff, #ff0000);
    }
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.tieudenho{
    color: transparent;
    font-size: 22px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ee7a07, #01f7e7);

}
.ds li{
    color: green;
}
.ds li:hover{
    color: blue;
    font-size: 1.2rem;
}
#hint {
    font-size: 18px;
    color: orange;
}
p:target{
    background-color: yellow;
    color: blue;
}

.boxcangiua{
    
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(255, 98, 0), rgb(37, 200, 209));
    width: 10em;
    height: 5em;
    /* border: 5px solid rgba(40, 11, 11, 0.862); red green blue alpha */
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(0, 8, 255)) 1;
    text-align: center;
    line-height: 450%;
    border-width: 20px;
    font-size: 20px;
}
.boxcangiua:hover{
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(255, 0, 238), rgb(0, 255, 213));
    border: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 0)) 1;
    width: 10em;
    height: 5em;
    text-align: center;
    line-height: 450%;
    border-width: 20px;
    font-size: 22px;
    transition: all 0.3s ease;
}
.language-cpp {
    width: 600px;     
    text-align: center;
    display: block;
    overflow-x: auto;
    padding: 1em;
}
.decor{
    width: 200px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: overline underline wavy blue;
}

.box{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    overflow: auto;
    background-color: gainsboro;   
    overscroll-behavior: contain;
    text-align : justify;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(214, 241, 7)) 1;
}
/* width */
.box::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.box::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.box_overflow{
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(0, 255, 166), rgb(0, 60, 255));   
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;   /*đã được prefix qua web prefixer*/
}
.link_icon{
    text-decoration: none;
    color: black;
}
.iconf li{
    margin-bottom: 5px;
    list-style-type: none;   /* xóa bullet point */
}
body {
    height: 100vh;
    background-image: url("./bgi2.jpg");
    background-repeat: repeat;
}

.link_id:visited{
    color: purple;
}
a:link{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #030bff, #847bfe);
}
a:hover{
    color: orange;
    font-size: 1.1rem;
}
a:active{
    color: red;
}   
/* Image grid styles */

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3 cột, mỗi cột rộng 100px */
  grid-template-rows: repeat(3, 100px); /* 3 hàng, mỗi hàng cao 100px */
}

.cell {
  width: 100px;
  height: 100px;
  background-image: url("./babydog.jpg");
  background-size: 300% 300%; /* tổng kích thước ảnh */
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, rgb(112, 81, 81), rgb(0, 106, 255)) 1;
}
.cell:hover {
    transform: scale(1.2); /* Phóng to ô khi hover */
    transition: transform 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
}

/* hàng 1 *//*chỉ cần cho chạy từ min -> max x với y = 0% (hàng đầu) */
.cell:nth-child(1) { background-position:   0%   0%; } /*chỉ cần cho chạy từ min -> max x với y = 0% (hàng đầu) */
.cell:nth-child(2) { background-position:  50%   0%; }
.cell:nth-child(3) { background-position: 100%   0%; }

/* hàng 2 *//*chỉ cần cho chạy từ min -> max x với y = 50% (hàng giữa) */
.cell:nth-child(4) { background-position:   0%  50%; } /*chỉ cần cho chạy từ min -> max x với y = 50% (hàng giữa) */
.cell:nth-child(5) { background-position:  50%  50%; }
.cell:nth-child(6) { background-position: 100%  50%; }

/* hàng 3 *//*chỉ cần cho chạy từ min -> max x với y = 100% (hàng cuối) */
.cell:nth-child(7) { background-position:   0% 100%; } /*chỉ cần cho chạy từ min -> max x với y = 100% (hàng cuối) */
.cell:nth-child(8) { background-position:  50% 100%; }
.cell:nth-child(9) { background-position: 100% 100%; }


/* End Image grid styles */
.box_anh_cuon{
    color: grey;
    height: 400px;
    width: 400px;
    overflow: auto;
    background-image: url("./chung2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: local;
    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(7, 198, 241)) 1;

}
.box_anh_cuon::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box_anh_cuon::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.box_anh_cuon::-webkit-scrollbar-thumb {
  background: transparent;
  background-image: linear-gradient(to bottom, red, blue); 
  border-radius: 10px;
}

/* Handle on hover */
.box_anh_cuon::-webkit-scrollbar-thumb:hover {
  background: transparent;
  background-image: linear-gradient(to bottom, blue, red); 
}

.box_anh_dong{
    height: 400px;
    width: 400px;   
    margin : 0 auto;
    overflow: auto;
    /* background-position: 50% 0; */
    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(151, 7, 241)) 1;
    background-image: url("./meme-con-khi-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 50%;
    
}

/* Border gradient image styles */
.img1 {
  width: 240px;
  height: 290px;  
  border-radius: 30px;
  border: 10px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, red, yellow) border-box;
  transition: all 0.5s ease;
  
}

.img1:hover {
  width: 260px;
  height: 310px;
  border: 10px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, yellow, red) border-box;
  transition: all 0.5s ease;
  transition: transform 0.5s;
  transform: rotate(4deg);
  
}

.img2{
  pointer-events: none;
  width: 240px;
  height: 290px;
  border-radius: 30px;
  border: 10px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, red, yellow) border-box;
}
/* End Border gradient image styles */
.boxlon{
    width: 600px;
    height: 200px;
    margin: 0 auto;
    border: 3px solid black;
    background-image: url(./bgngang.jpg);
    background: cover/no-repeat;
    position: relative;
}
.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  clip-path: circle();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.avatar.left {
  left: 20px;
}

.avatar.right {
  right: 20px;
}
.avatar:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}
.glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  /* giới hạn giữa 2 avatar */
  left: 130px;   /* 20 + 80 + 20 */
  right: 130px;  /* 20 + 80 + 20 */

  height: 80px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  z-index: 1;
}
.text {
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

/* End Border gradient image styles */
.box-shadow{
  margin-left: 10px;
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
.box-shadow:hover{
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
    scale: 1.1;
    transition: all 0.3s ease;
}