[href="tieudelon"] {
    color:#0dc3b6d2;  /*đây là phần backup khi trình duyệt không hỗ trợ*/
    font-size: 2rem;
}
body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-left: 20px;
}
/*kiểm tra trình duyệt có hỗ trợ background-clip: text hay không*/
@supports (background-clip: text) or (-webkit-background-clip: text) {
    [href="tieudelon"] {
       max-width: 100%;
       height: auto;
       text-align: center;
        font-size: 3rem;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, #dd71a0, #94BBE9 80%);
        /* background-image: linear-gradient(to right, #ff0000 20%, #f6750c, #0eb40e, #00ffff, #0000ff, #ff00ff, #ff0000); */
    }

}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
}
.tieudenho{
    color: transparent;
    font-size: 22px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ee7a07, #01f7e7);

}
.ds li{
    color: green;
}
.ds li:hover{
    color: blue;
    font-size: 1.2rem;
}
#hint {
    font-size: 18px;
    color: orange;
}
p:target{
    background-color: yellow;
    color: blue;
}

.boxcangiua{
    
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(255, 98, 0), rgb(37, 200, 209));
    width: 10em;
    height: 5em;
    /* border: 5px solid rgba(40, 11, 11, 0.862); red green blue alpha */
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(0, 8, 255)) 1;
    text-align: center;
    line-height: 450%;
    border-width: 20px;
    font-size: 20px;
}
.boxcangiua:hover{
    background-color: transparent;
    background-image: linear-gradient(to left, rgb(255, 0, 238), rgb(0, 255, 213));
    border: 5px solid transparent;
    border-image: linear-gradient(to right, rgb(0, 0, 255), rgb(255, 0, 0)) 1;
    width: 10em;
    height: 5em;
    text-align: center;
    line-height: 450%;
    border-width: 20px;
    font-size: 22px;
    transition: all 0.3s ease;
}
.language-cpp {
    width: 600px;     
    text-align: center;
    display: block;
    overflow-x: auto;
    padding: 1em;
}
.decor{
    width: 200px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: overline underline wavy blue;
}

.box{
    width: 430px;
    height: 530px;
    border-radius: 10px;
    overflow: auto;
    background-color: rgb(195, 198, 201);   
    overscroll-behavior: contain;
    text-align : justify;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(214, 241, 7)) 1;
}
.box:hover{
    border: 5px solid transparent;
    /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
    border-image: linear-gradient(to right, rgb(7, 241, 151), rgb(7, 198, 241)) 1;
    transition: all 0.3s ease;
}
.box h1{
    text-align: center;
    margin-top: 5px;
    font-size: 2.2rem;
    background-clip: text;
    color : transparent;
    background-image: linear-gradient(to right, red, blue);
}
/* sử dụng position : sticky*/
.box h2{
    background-color: yellow;
    padding: 2px;
    top : 0;
    position : sticky;
}
.box li{
    margin-bottom: 5px;
}
/* width */
.box::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.box::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
.box::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.box_overflow{
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(0, 255, 166), rgb(0, 60, 255));   
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;   /*đã được prefix qua web prefixer*/
}
.link_icon{
    text-decoration: none;
    color: black;
}
.iconf li{
    margin-bottom: 5px;
    list-style-type: none;   /* xóa bullet point */
}
body {
    height: 100vh;
    background-image: url("./bgi2.jpg");
    background-repeat: repeat;
}

.link_id:visited{
    color: purple;
}
a:link{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #030bff, #847bfe);
}
a:hover{
    color: orange;
    font-size: 1.1rem;
}
a:active{
    color: red;
}   
/* Image grid styles */

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px); /* 3 cột, mỗi cột rộng 100px */
  grid-template-rows: repeat(3, 100px); /* 3 hàng, mỗi hàng cao 100px */
}

.cell {
  width: 100px;
  height: 100px;
  background-image: url("./babydog.jpg");
  background-size: 300% 300%; /* tổng kích thước ảnh */
  background-repeat: no-repeat;
  border: 1px solid transparent;
  border-image: linear-gradient(to right, rgb(112, 81, 81), rgb(0, 106, 255)) 1;
}
.cell:hover {
    transform: scale(1.2); /* Phóng to ô khi hover */
    transition: transform 0.3s; /* Hiệu ứng chuyển đổi mượt mà */
}

/* hàng 1 *//*chỉ cần cho chạy từ min -> max x với y = 0% (hàng đầu) */
.cell:nth-child(1) { background-position:   0%   0%; } /*chỉ cần cho chạy từ min -> max x với y = 0% (hàng đầu) */
.cell:nth-child(2) { background-position:  50%   0%; }
.cell:nth-child(3) { background-position: 100%   0%; }

/* hàng 2 *//*chỉ cần cho chạy từ min -> max x với y = 50% (hàng giữa) */
.cell:nth-child(4) { background-position:   0%  50%; } /*chỉ cần cho chạy từ min -> max x với y = 50% (hàng giữa) */
.cell:nth-child(5) { background-position:  50%  50%; }
.cell:nth-child(6) { background-position: 100%  50%; }

/* hàng 3 *//*chỉ cần cho chạy từ min -> max x với y = 100% (hàng cuối) */
.cell:nth-child(7) { background-position:   0% 100%; } /*chỉ cần cho chạy từ min -> max x với y = 100% (hàng cuối) */
.cell:nth-child(8) { background-position:  50% 100%; }
.cell:nth-child(9) { background-position: 100% 100%; }


/* End Image grid styles */
.box_anh_cuon{
    color: grey;
    height: 400px;
    width: 400px;
    overflow: auto;
    background-image: url("./chung2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-attachment: local;
    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(7, 198, 241)) 1;

}
.box_anh_cuon:hover{
    border: 5px solid transparent;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
    border-image: linear-gradient(to right, rgb(0, 255, 213), rgb(0, 60, 255)) 1;
    transition: all 0.3s ease;
}
.box_anh_cuon::first-line{
    font-size: 1.0rem;
    color: rgb(92, 92, 253);
    font-weight: bold;
}
.box_anh_cuon::first-letter{
    font-size: 2rem;
    color: red;
    font-weight: bold;
}
.overflow::after{
    display: block;
    content : "test thêm content bằng pseudo element after";
    color: #000;
}

.box_anh_cuon::-webkit-scrollbar {
  width: 20px;
}

/* Track */
.box_anh_cuon::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.box_anh_cuon::-webkit-scrollbar-thumb {
  background: transparent;
  background-image: linear-gradient(to bottom, red, blue); 
  border-radius: 10px;
}

/* Handle on hover */
.box_anh_cuon::-webkit-scrollbar-thumb:hover {
  background: transparent;
  background-image: linear-gradient(to bottom, blue, red); 
}

.box_anh_dong{
    height: 400px;
    width: 400px;   
    margin : 0 auto;
    overflow: auto;
    /* background-position: 50% 0; */
    border-radius: 10px;
    border: 5px solid transparent;
    border-image: linear-gradient(to right, red, rgb(151, 7, 241)) 1;
    background-image: url("./meme-con-khi-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 50%;
    
}
.box_anh_dong:hover{
    border: 5px solid transparent;
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.3);
    /* scale: 1.2; */
    border-image: linear-gradient(to right, rgb(7, 241, 151), rgb(7, 198, 241)) 1;
    transition: all 0.3s ease;
}

.boxlon{
    left : 0;
    right : 0;
    height: 160px;
    margin: 0 auto;
    border: 3px solid black;
    background-image: url(./bgngang.jpg);
    background: cover/no-repeat;
    position: relative;
}
.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  clip-path: circle();
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.avatar.left {
  left: 20px;
}

.avatar.right {
  right: 20px;
}
.avatar:hover {
  scale: 1.2;
  transition: all 0.3s ease;
}
.glass {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  /* giới hạn giữa 2 avatar */
  left: 130px;   /* 20 + 80 + 20 */
  right: 130px;  /* 20 + 80 + 20 */

  height: 70px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: flex;
  align-items: center;    /*căn giữa box*/
  justify-content: center;
  border-radius: 20px;
  z-index: 1;
}
.text {
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

/* End Border gradient image styles */
.box-shadow{
  margin-left: 10px;
    width: 150px;
    height: 150px;
    background-color: transparent;
    background-image: linear-gradient(to right, #ff7e5f, #feb47b);
    border-radius: 15px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
.box-shadow:hover{
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);
    scale: 1.1;
    transition: all 0.3s ease;
}
/* End Border gradient image styles */


/* tạo giá trị biến (css variable) để tránh lặp */
:root{
    --img-width : 240px;
    --img-height : 290px;
    --box-shadow-1 : 15px 15px 30px rgba(0, 0, 0, 0.3);
    --img-background : linear-gradient(to right, red, yellow);

}
/* Border gradient image styles */
.img1 {
  width : var (--img-width);  /* width: 240px; */
  height : var (--img-height); /* height: 290px; */
  border-radius: 30px;
  border: 10px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    /* linear-gradient(to right, red, yellow) border-box; */
  transition: all 0.5s ease;
  
}

.img1:hover {
  width: 260px;
  height: 310px;
  border: 10px solid transparent;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, yellow, red) border-box;
  transition: all 0.5s ease;
  transition: transform 0.5s;
  transform: rotate(4deg);
  
}

.img2{
  pointer-events: none;
  width: 240px;
  height: 290px;
  border-radius: 30px;
  border: 10px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, red, yellow) border-box;
}
/* End Border gradient image styles */
.cua_img2::before{
    display: block;
    color : black;
    content : "* vì 2 ảnh sử dụng kích thước và màu giống nhau nên sẽ dùng biến để đỡ phải lặp giá trị"
}

/* design code section */
.section{
    max-width: 90%;
    height: auto;
    border : 5px solid black;
    counter-reset : section;
    padding-left: 30px;
}
.section:hover{
    border : 5px solid transparent;
    border-image: linear-gradient(to right, black, rgb(7, 198, 241)) 1;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;  
}
.section::before{
    content : "*This is a section block : tự động tạo section* "; /*chèn nội dung trước thẻ div.section*/
    display : block;
    font-size : 1.1rem;
    color : purple;
    font-weight: bold;
    margin-bottom : 10px;
}
.section::first-line{

    color: red;
    font-weight: bold;
}

.section h2{
    counter-increment : section;   /*tăng bộ đếm lên 1 mỗi khi gặp thẻ h2*/
    counter-reset : subsection; /*khởi tạo lại bộ đếm con về 0 mỗi khi gặp thẻ h2*/
}
.section h2::before{
    content : "Phần " counter(section) ": "; /*chèn nội dung trước thẻ h2*/
    color : blue;
    font-weight: bold;
}
.section h3{
    counter-increment : subsection; /*tăng bộ đếm con lên 1 mỗi khi gặp thẻ h3*/
}
.section h3::before{
    content : counter(section) "." counter(subsection) ". "; /*chèn nội dung trước thẻ h3*/
    color : green;
}

/* test icon hộp thư 99+ */
.fa-envelope-duotone {
  position: relative;
  font-size: 5rem;
  width: 1em;
  height: 1em;
  display: inline-block;
}
.fa-envelope-duotone :hover{
    scale : 1.1;
    transition: all 0.45s ease;
}

/* dùng chung */
.fa-envelope-duotone i {
  position: absolute;
  inset: 0;
}

/* THÂN THƯ */
.fa-envelope-duotone .body {
  color: #626667;
  z-index: 1;
}

/* NẮP THƯ */
/* .flap là lớp icon thứ 2 (nắp thư là lớp chồng lên) */
.fa-envelope-duotone .flap {
  color: #f01944;
  z-index: 2;

  /* cắt đúng tam giác nắp FA */
  clip-path: polygon(
    0% 15%,
    115% 0%,
    50% 65%
  );

  /* top center là xác định bản lề của nắp thư là ở đầu (top) và xoay từ giữa (center) để tránh nắp thư xoay từ tâm icon */
  transform-origin: top center;
  transition: transform 0.45s cubic-bezier(.4,0,.2,1);
}

/* ANIMATE MỞ NẮP */
/* rotate x là xoay nắp thư theo trục ngang (x) và translate y là dịch chuyển nắp thư lên trên một chút để tạo hiệu ứng mở nắp thư  */
.fa-envelope-duotone:hover .flap {
  transform: rotateX(160deg) translateY(-8%);
  scale : 1.1;
}

.thongbao{
    position: relative;
    margin: 50px;
    font-size: 4rem;
}
.mail-number{
    font-size: 1.2rem;
    padding: 0.5rem;
    background: rgb(0, 145, 255);
    color: white;
    border-radius: 10px;
    position : absolute;
    left : 75px;
    top : -15px;
    z-index: 3;
}

/*bong bóng chat mess ở góc dưới màn hình*/
.mess-bottom a{
    color : transparent;
    font-size: 3rem;
    background-image: linear-gradient(55deg, #3b71fe, #ff5e74);
    position : fixed;
    bottom : 20px;
    right : 20px;
}
.mess-bottom a :hover{
    font-size: 3.3rem;
}

/*thanh menu bar luôn hiển thị trên đầu màn hình*/
.nav{
    background: transparent;
    background-image: linear-gradient(to right, rgb(37, 128, 246), pink);
    position : fixed;
    top : 0;
    left : 0;
    right : 0;
    z-index: 99;
    display : flex;
    justify-content: space-around;
}
.nav a{
    text-decoration: none;
    color : white;
}

.nav li{
    text-align: left;
    display : inline-block;
    padding : 5px;
    padding-left: 20px;

}
h1{
    margin-top: 61px;
}

/* các dạng display : flex --- justify-content (theo chiều ngang) đặt ở box cha */
.container{
    display: flex;
    margin-left : -15px;
    font-size: 1.5rem;
    background-color: rgb(255, 21, 21);
    justify-content: flex-start;   /* bắt đầu từ trái sang phải */
    justify-content: flex-end;     /* bắt đầu từ phải sang trái */
    justify-content: center;       /* căn ở giữa center */
    justify-content: space-between;/* cách đều nhau - sát lề */
    justify-content: space-around; /* khoảng trắng xung quanh mỗi phần tử là bằng nhau (gấp đôi khoảng cách lề) - trừ lề */
    justify-content: space-evenly; /* các phần tử cách đều nhau - kể cả lề */
    /* test ở đây : */
    /* justify-content: start; */
}

.block{
    background-color:rgb(0, 170, 255) ;
}

/* các dạng display : flex ---align-items (theo chiều dọc) */
.container_doc{
    display: flex;
    height: 200px;
    margin-left: -15px;
    font-size: 1.5rem;
    background-color: red;
    justify-content: space-evenly;
    /* muốn test thì dùng ctrl + / từng dòng để test chạy demo thử */

    /* mặc định - các phần tử tự co dãn theo cái box cha */
    /* align-items: stretch;    */
    /* các phần tử nằm trên cùng theo chiều dọc (từ trên xuống dưới) - top */
    /* align-items : flex-start; */
    /* các phần tử đều nằm dưới cùng theo chiều dọc - bottom  */
    /* align-items: flex-end; */
    /* các phần tử đều nằm lơ lửng chính giữa theo chiều dọc  */
    align-items: center;
    /* các phần tử nằm cao theo cái phần chân của chữ trong box */
    /* align-items: baseline; */

}
.block_doc{
    background-color: rgb(1, 254, 98);
}
.box_doc1{
    height: 100px;
    font-size: 2rem;
    /* mẹo căn giữa chữ trong box */
    display : flex;
    justify-content: center;
    align-items: center;
}

.suyra{
    color: blue;
    font-size: 1.2rem;
}